*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container-ip {
    width: 100%;
    background-image: url('../img/pattern-bg-desktop.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
}

.texto h1{
    color: white;
    margin-top: 50px;
}

.search-id {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-id input {
    width: 400px;
    height: 8vh;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    border-style: none;
    font-size: 18px;
    color: hsl(0, 0%, 17%);
}

.search-id button {
    background-color: black;
    width: 15%;
    height: 8vh;
    border-radius: 0 10px 10px 0;
    border-style: none;
    cursor: pointer;
}

.search-id button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.search-id button img {
    margin: auto;
    cursor: pointer;
}

.container-dados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 15vh;
    background-color: white;
    border-radius: 10px;
    position: relative;

}

.container-dados p {
    color: hsl(0, 0%, 17%);
    font-size: 18px;
}

.container-dados span {
    color: hsl(0, 0%, 0%);
    font-size: 25px;
    text-align: left;
    font-size: 20px;
}

.container-itens{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-maps {
    background-color: hsl(0, 0%, 17%);
    position: relative;
    top: -40px;
    mix-blend-mode: color-burn;
}

#map { 
    width: 100%;
    height: 100vh; 
    
}

/*responsivo*/

@media screen and (max-width: 350px) {
    .container-ip {
        background-image: url('../img/pattern-bg-mobile.png');
    }

    .search-id input {
        width: 250px;
        height: 8vh;
        font-size: 10px;
    }

    .container-dados {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        height: 80vh;
    }

    .container-dados span {
        font-size: 20px;
        text-align: center;
    }
    
    .container-itens{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .container-maps {
        top: -346px;
    }
}
/*
@media screen and (max-width: 750px) {
    .container-dados {
        width: 85%;
        
    }

    .container-dados p {
        font-size: 15px;
    }
    
    .container-dados span {
        font-size: 15px;
    }

    .container-maps {
            top: -20px;
    }
}*/